html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
p {
  margin: 0;
  padding: 0;
}

.wechat-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	z-index: -100;
}

.wechat-view {
	margin-top: 50px;
	margin-bottom: 55px;
}

.wechat-padding-left-right-15px {
	padding-left: 15px;
	padding-right: 15px;
}

.wechat-margin-0 {
	margin: 0;
}

.wechat-space-20px {
	width: 100%;
	height: 20px;
}

.wechat-welcome {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: #ffffff;
}

.wechat-welcome > img {
	width: 100%;
	height: 100%;
}

.wechat-header {
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 50px;
	background-color: #333333;
	color: #ffffff;
	padding:3%;
	z-index: 100;
}

.wechat-header > div {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	vertical-align: bottom;
}

.wechat-header > div:first-child {
	float: left;
	/*margin-top: 1%;*/
	line-height: 1.6em;
}

.wechat-header > div:nth-child(3) {
	margin-right: 2em;
}

.wechat-header > div > img {
	width: 1.5em;
	vertical-align: top;
}

.wechat-home.swiper-container {

}

.wechat-home.swiper-container > .swiper-wrapper {

}

.weichat-home.swiper-container > .swiper-wrapper > .swiper-slide {

}

.wechat-home-weixin > .wechat-full-row {
	width: 100%;
	min-height: 70px;
	padding: 2% 3%;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.wechat-home-weixin > .wechat-full-row:last-child {
	border-bottom: 0;
}

.wechat-home-weixin > .wechat-full-row > div {
	font-size: 1em;
	line-height: 1.8em;
}

.wechat-full-row > div:first-child {
	width: 20%;
	max-width: 55px;
	float: left;
}

.wechat-full-row > div:nth-child(2) {
	width: 60%;
	float: left;
	padding: 1.2% 3% 0 3%;
}

.wechat-full-row > div:nth-child(3) {
	float: right;
	width: 20%;
	color: #cccccc;
	font-size: 0.8em;
	padding-top: 1.2%;
	text-align: right;
}

.wechat-full-row > div > p {
	margin: 0;
	padding: 0;
}
.wechat-full-row > div:first-child > img {
	max-height: 55px;
}

.wechat-full-row > div:nth-child(2) > p:first-child {
	font-weight: bold;
	font-size: 1.2em;
}

.wechat-full-row > div:nth-child(2) > p:last-child {
	color: #cccccc;
	font-size: 1em;
}

.wechat-list {
	width: 100%;
	background-color: #ffffff;
	border: 0;
}

.wechat-list > .wechat-list-item {
	margin: 0 3%;
	padding: 2% 0;
	border-bottom: 1px solid #cccccc;
}

.wechat-list > .wechat-list-item:last-child {
	border-bottom: 0;
}

.wechat-list > .wechat-list-item > div:first-child {
	max-width: 20%;
	display: inline-block;
}

.wechat-list > .wechat-list-item > div:last-child {
	min-width: 60%;
	display: inline-block;
	padding: 2% 3%;
}

.wechat-list > .wechat-list-item > div:first-child > img {
	width: 100%;
	max-width: 40px;
}

.wechat-list > .wechat-list-item > div:last-child > p {
	margin: 0;
	font-weight: bold;
}

.wechat-home-me > .wechat-list > .wechat-list-item > 
div:first-child > img {
	max-width: 40px;
}

.wechat-home-discover > .wechat-list > .wechat-list-item > 
div:first-child > img {
	max-width: 40px;
}

.wechat-home-me > .wechat-list:nth-child(2) > .wechat-list-item
	> div:first-child > img {
	width: 100%;
	max-width: 70px;
}

.wechat-home-me > .wechat-list:nth-child(2) > .wechat-list-item
	> div:last-child > p {
	font-size: 1.5em;
}

.wechat-home-navbar {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  max-height: 55px;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.wechat-home-navbar > div.swiper-pagination-bullet > img {
	width: 30%;
	min-width: 30px;
}

.wechat-home-navbar > div.swiper-pagination-bullet > p {
	font-size: 0.8em;
	margin: 0;
}

.wechat-home-navbar > div.swiper-pagination-bullet {
	width: 25%;
	height: auto;
	border-radius: 0;
	background: #ffffff;
	opacity: 1.0;
	display: inline-block;
	color: #999999;
}

.wechat-home-navbar > div.swiper-pagination-bullet.swiper-pagination-bullet-active {
	color: #33cc33;
}
