<div class="wechat-background"></div>
<div class="swiper-container wechat-home">
	<div class="swiper-wrapper">
		<div class="swiper-slide wechat-home-weixin">
			<div class="wechat-full-row"
			ng-repeat="item in weixin_list">
				<div>
					<img src="{{ item.imgUrl }}"></img>
				</div>
				<div>
					<p>{{ item.title }}</p>
					<p>{{ item.desc }}</p>
				</div>
				<div>
					<p>{{ item.time }}</p>
				</div>
			</div>
		</div>

		<div class="swiper-slide wechat-home-contact">
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/a_b.png"></img>
					</div>
					<div>
						<p>新的朋友</p>
					</div>
				</div>
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/a_j.png"></img>
					</div>
					<div>
						<p>群聊</p>
					</div>
				</div>
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/a_h.png"></img>
					</div>
					<div>
						<p>公众号</p>
					</div>
				</div>
			</div>

			<div ng-repeat="list in contact_list">
				<p class="wechat-padding-left-right-15px wechat-margin-0">
					{{ list.index }}
				</p>
				<div class="wechat-list">
					<div class="wechat-list-item" 
					ng-repeat="item in list.persons">
						<div>
							<img src="{{ item.imgUrl }}"></img>
						</div>
						<div>
							<p>{{ item.title }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide wechat-home-discover">
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/afe.png"></img>
					</div>
					<div>
						<p>朋友圈</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/afg.png"></img>
					</div>
					<div>
						<p>扫一扫</p>
					</div>
				</div>
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/afh.png"></img>
					</div>
					<div>
						<p>摇一摇</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/afd.png"></img>
					</div>
					<div>
						<p>附近的人</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/agg.png"></img>
					</div>
					<div>
						<p>购物</p>
					</div>
				</div>
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/ak6.png"></img>
					</div>
					<div>
						<p>游戏</p>
					</div>
				</div>
			</div>
		</div>

		<div class="swiper-slide wechat-home-me">
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/icon.png"></img>
					</div>
					<div>
						<p>朱楚基</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/ak_.png"></img>
					</div>
					<div>
						<p>相册</p>
					</div>
				</div>
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/akc.png"></img>
					</div>
					<div>
						<p>收藏</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/aka.png"></img>
					</div>
					<div>
						<p>钱包</p>
					</div>
				</div>
			</div>
			<div class="wechat-space-20px"></div>
			<div class="wechat-list">
				<div class="wechat-list-item">
					<div>
						<img src="../img/icon/akd.png"></img>
					</div>
					<div>
						<p>设置</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="navbar-fixed-bottom text-center wechat-home-navbar">
</div>